



<div class="contactpage">

    <img (click)="toggleMenu()" class="homebutton" alt="Noimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Menu-thin-circular-outlined-button.svg/768px-Menu-thin-circular-outlined-button.svg.png" />
  
    
    <nav *ngIf=menu [@slideInOut] class="navbar" id="menu">

        <p href=# class="closemenu" id='menu' (click)="toggleMenu()">X</p>
        <a class='menuitem' routerLink='/'>Home</a>
        <a class='menuitem' routerLink='/about'>About</a>
        <a class='menuitem' (click)='toggleProjects()'>Projects:</a> 
        <a id='project1' class="projects" *ngIf=projects [@project1] routerLink='/crypto-portfolio'>Crypto Portfolio</a>
        <a id='project2' class="projects" *ngIf=projects [@project2] routerLink='/transport-consolidated'>Transport Consolidated</a>
        <a id='project3' class="projects" *ngIf=projects [@project3] routerLink='/business-website'>Business Website</a>
        <a  class='menuitem' routerLink='/contact'>Contact</a>
        
        
    </nav>

      <h1>Contact Me:</h1>
    <form id='form'>
            <label for="contactName">Name: </label>
                <input #name type="text" name="contactName" ng-model="nodemailer.name" required autofocus>
                <br/>
                <br/>
            <label for="contactEmail">Email: </label>
                <input #email type="email" name="contactEmail" ng-model="nodemailer.email" required>
                <br>
                <br/>
            <label for="contactMessage">Message: </label>
                <textarea #message type="text-area" name="contactMessage" ng-model="nodemailer.message" required ></textarea>
                <br/>
                <button type="submit" (click)="sendMail(name.value, email.value, message.value)" class="btn btn-success">Send</button>
            <h3 *ngIf=success>Email Succesfully Sent</h3>
    </form>

</div>