.contactpage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    background: linear-gradient(to right, rgb(22, 16, 16), rgb(154, 172, 158));
    background-position-y: 20%;
    background-position-x: 70%;
}

#form{
    padding: 10%;
    background-color: beige;
    grid-row: 3/6;
    grid-column: 3/7;
}

h1{
    grid-row: 2/3;
    grid-column: 3/7;
    margin-bottom: 0;
    align-self: center;
    justify-self: center;
    color: beige
}

input[type=text],input[type=email], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    resize: vertical 
}


button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
