.contactpage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    background: rgb(162, 170, 209);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: 70%;
}

#form{
    padding: 10%;
    background-color: rgb(115, 133, 211);;
    grid-row: 2/6;
    grid-column: 3/7;
    animation-name: ablurb;
    animation-duration: 1.5s;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.introline{
    opacity: 0;
    animation-name: intro;
    animation-duration: 3s
}

.contact{
    opacity: 1;
    animation-name: contact;
    animation-duration: 4s;
}

@keyframes contact{
    0%{position: relative; top: -50%; opacity: 0}
    100%{position: relative; top: 0%; opacity: 1}
}


@keyframes intro{
    0%{ opacity: 0}
    50%{ opacity: 1}
    100%{opacity: 0;}
}

label{
    font-family: 'Oxygen', sans-serif;
}

textarea{
    font-family: 'Oxygen', sans-serif;
    height: 50%
}

h1{
    font-family: 'Roboto Slab', serif;
    grid-row: 1/2;
    grid-column: 3/7;
    margin-bottom: 0;
    align-self: center;
    justify-self: center;
    color: black;
    
}

input[type=text],input[type=email], textarea {
    font-family: 'Oxygen', sans-serif;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    resize: vertical 
}


button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
}


button[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
@keyframes ablurb{
    0%{ position: relative; bottom: -50%}
    100%{ position: relative; bottom: 0%}
}

@media (max-width: 1024px){
    #form{
        grid-row: 2/7;
        grid-column: 2/6;
        height: 65%;
    }
    h1{
        grid-row: 1/2;
        grid-column: 1/5;
        padding-left: 45%
    }
}

@media (max-width: 600px){
    #form{
        grid-column: 1/6;
        margin-left: 10%;
        height: 70%;
    }
    h1{
        font-size: 18px;
    }
}