



<div class="contactpage">

    <!-- <div (click)="toggleMenu()" class="homebutton" >
        <div class="homebuttonline"></div>
        <div class="homebuttonline"></div>
        <div class="homebuttonline"></div>
    </div> -->

    <img src='../../../assets/menu.png' (click)="toggleMenu()" class="homebutton" />

    <h1 class="introline">Send me an Email!</h1>
  
    
    <nav *ngIf=menu [@slideInOut] class="navbar" id="menu">

        <p href=# class="closemenu" id='menu' (click)="toggleMenu()">X</p>
        <a class='menuitem' routerLink='/'>Home</a>
        <a class='menuitem' routerLink='/about'>About</a>
        <a class='menuitem' routerLink='/contact'>Contact</a>
        <a class='menuitem' (click)='toggleProjects()'>Projects:</a> 
        <a id='project1' class="projects" *ngIf=projects [@project1] routerLink='/crypto-portfolio'>Crypto Portfolio</a>
        <a id='project2' class="projects" *ngIf=projects [@project2] routerLink='/transport-consolidated'>Transport Consolidated</a>
        <a id='project3' class="projects" *ngIf=projects [@project3] routerLink='/business-website'>Business Website</a>
        
        
        
    </nav>

      <h1 class="contact">Contact Me:</h1>
    <form id='form'>
            <label for="name">Name: </label>
                <input #name type="text" name="name" ng-model="nodemailer.name" required autofocus>
                <br/>
                <br/>
            <label for="email">Email: </label>
                <input #email type="email" name="email" ng-model="nodemailer.email" required>
                <br>
                <br/>
            <label for="message">Message: </label>
                <textarea #message type="text-area" name="message" ng-model="nodemailer.message" required ></textarea>
                <br/>
                <button type="submit" class="btn btn-success" (click)="sendMail(name.value, email.value, message.value)">Send</button>
            <!-- <h3 *ngIf=success>Email Succesfully Sent</h3> -->
            <!-- (click)="sendMail(name.value, email.value, message.value)" -->
            <!-- method="POST" action="https://formspree.io/gzucchero24@gmail.com" -->
    </form>

</div>