.aboutpage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    background: url(../../../assets/Background-Pictures/about-background.jpeg);
    background-position-y: 59%;
}
.aboutblurb{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background: rgba(0, 0, 0, 0.892);
    grid-column: 1/7;
    grid-row: 2/5;
    height:  75vh;
    margin-left: 15%;
    animation-name: ablurb;
    animation-duration: 2s
}
@keyframes ablurb{
    0%{ position: relative; bottom: -50%}
    100%{ position: relative; bottom: 0%}
}
.para1{
    font-family: 'Oxygen', sans-serif;
    position: initial;
    line-height: 1.5em;
    font-size: 20px;
    padding-left: 4%;
    padding-right: 1%;
    text-align: left;
    color: bisque;
    grid-column: 2/-1;
    grid-row: 1/2;
    animation-name: p1;
    animation-duration: 2s;
}
@keyframes p1{
    0%{ opacity: 0}
    100%{opacity: 1;}
}
.para2{
    font-family: 'Oxygen', sans-serif;
    line-height: 1.5em;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    color: bisque;
    grid-column: 1/-1;
    grid-row: 2/4;
    animation-name: p1;
    animation-duration: 2s;
}

.title{
    font-family: 'Roboto Slab', serif;
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 40px;
    margin-bottom: 0px;
    color: bisque
}
.headshot{
    padding-top: 5%;
    height: 200px;
    width: 250px;
    border-radius: 50%;
    animation-name: p1;
    animation-duration: 2s;
}

@media (max-width: 1024px) {
    .aboutblurb{
        height:  100vh;
        margin-left: 5%;
        margin-right: 5%;
    }
    .title{
        align-self: end;
        grid-column: 1/4;
        padding-left: 10%
    }
    .para1{
        grid-column: 1/-1;
        font-size: 18px;
        grid-row: 2/3
    }
    .para2{
        grid-column: 1/-1;
        font-size: 18px;
        grid-row: 3/4;
    }
    .headshot{
        height: 150px;
        width: 200px;
        grid-column: 1/-1;
        justify-self: center;
        grid-row: 1/2
    }
}

@media(max-width: 768px){
    .aboutblurb{
        grid-row: 2/6;
        margin-left: 2%
    }
    .title{
        grid-row: 1/2
    }
    .para1{
        font-size: 15px;
    }
    .para2{
        font-size: 15px;
    }
    .headshot{
        width: 150px;
        height: 150px;
    }
}

@media(max-width: 500px){
    .title{
        font-size: 25px;
        align-self: end;
    }
    .para1{
        font-size: 12px;
    }
    .para2{
        font-size: 12px;
    }
    .headshot{
        width: 100px;
        height: 100px;
    }
}

