<div class="aboutpage">
<h1 class="title">About Me:</h1>

<img (click)="toggleMenu()" class="homebutton" alt="Noimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Menu-thin-circular-outlined-button.svg/768px-Menu-thin-circular-outlined-button.svg.png" />


<div class='aboutblurb'>
    <img alt='noimage' class='headshot' src="../../../assets/gregory_zucchero_picture.png" />

<p class='para1'>My name is Gregory Zucchero and I am a developer in the MERN/MEAN stack. I use the latest and greatest technolgies to find solutions to real world problems. While I was trained in the MERN stack; I decided to learn AngularJS on my own due to its popularity, demonstrating my ability to learn and adapt to new technology.</p>
<p class="para2">In today's technological world, it is important for developers to have the ability to adapt and implement the newest technoliges to stay ahead in the web-development space. Styles, designs and languages can become obselete very quickly and it is important to hire people who understand this and are passionate about it to always be in the loop. On this site you will find a few examples of my previous work and the ability to contact me if you have questions; thank you for your time.</p>
</div>

<nav *ngIf=menu [@slideInOut] class="navbar" id="menu">

    <a href=# class="closemenu" id='menu' (click)="toggleMenu()">X</a>
    <a class='menuitem' routerLink='/'>Home</a>
    <a class='menuitem' routerLink='/about'>About</a>
    <a class='menuitem' (click)='toggleProjects()'>Projects:</a> 
    <a id='project1' class="projects" *ngIf=projects [@project1] routerLink='/crypto-portfolio'>Crypto Portfolio</a>
    <a id='project2' class="projects" *ngIf=projects [@project2] routerLink='/transport-consolidated'>Transport Consolidated</a>
    <a id='project3' class="projects" *ngIf=projects [@project3] routerLink='/business-website'>Business Website</a>
    <a  class='menuitem' routerLink='/contact'>Contact</a>
    
    
</nav>
</div>
