/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    margin:0; padding:0;
}

.homebutton{
    display: flex;
    height: 100px;
    width: 100px;
    grid-column: 8/-1;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    opacity: .5;
    transition-duration: .4s;
    z-index: 0;
}

.homebutton:hover{
    opacity: 1;
    cursor: pointer;
    rotate: (-45deg);
}

.navbar{
    grid-column: 7/-1;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    width: 75%;
    margin-left: 25%;
    text-align: center;
    justify-content: space-around;
    animation-name: sidemenu;
    animation-duration: 1s;
    z-index: 1
}
.navbar1{
    grid-column: 7/-1;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    width: 75%;
    margin-left: 25%;
    text-align: center;
    justify-content: space-around;
    animation-name: sidemenu1;
    animation-duration: 1s;
    z-index: 1
}
.navbar p{
    color: bisque;
    font-size: 25px;
    margin: 0;
}
.navbar p:hover{
    cursor: pointer;
    text-decoration: underline
}
.closemenu{
    font-size: 20px;
    position: relative;
    top: -5px;
    right: -5px;
    height: 10%;
    width: 30%;
    align-self: center;
}
.projects{
    color: lightblue;
    font-size: 20px;
    text-decoration: none;
}


.menuitem{
    font-size: 20px;
    text-decoration: none;
    color: beige
}
.menuitem:hover{
    text-decoration: underline
}

@keyframes sidemenu{
    0%{ position: relative; right: -25%}
    100%{ position: relative; right: 0%}
}
@keyframes sidemenu1{
    0%{ position: relative; right: 0%}
    100%{ position: relative; right: -25%}
}

#project1{
    animation-name: project1;
    animation-duration: 1s;
}

@keyframes project1{
    0%{ position: relative; top: -10%}
    100%{ position: relative; top: 0%}
}
#project2{
    animation-name: project2;
    animation-duration: 1s;
}

@keyframes project2{
    0%{ position: relative; top: -20%}
    100%{ position: relative; top: 0%}
}
#project3{
    animation-name: project3;
    animation-duration: 1s;
}

@keyframes project3{
    0%{ position: relative; top: -25%}
    100%{ position: relative; top: 0%}
}

/* Project page layout */

.projectinfo{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 2/7;
    grid-row: 2/7;
    background: rgba(0, 0, 0, 0.7);
    height: 85%;
}
.projecttitle{
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    color: beige;
}
.projectpic1{
    grid-column: 1/3;
    grid-row: 2/5;
    height: 200px;
    width: 300px;
    z-index: 1;
    border-style: solid;
    border-width: 2px;
    border-color: black
}
.projectpic2{
    grid-column: 3/7;
    grid-row: 2/5;
    height: 200px;
    width: 300px;
    z-index: 2;
    border-style: solid;
    border-width: 2px;
    border-color: black
}
.projectpic3{
    grid-column: 2/6;
    grid-row: 3/6;
    height: 200px;
    width: 300px;
    z-index: 3;
    border-style: solid;
    border-width: 2px;
    border-color: black
}
.projectpic1:hover{
    z-index: 4;
}
.projectpic2:hover{
    z-index: 4;
}
.projectpic3:hover{
    z-index: 4;
}
.projectbio{
    grid-column: 7/-1;
    grid-row: 2/5;
    color: beige;
    text-align: left;
    line-height: 25px;
}
.projectlink{
    grid-column: 7/-1;
    grid-row: 5/6;
    text-decoration: none;
    color: beige;
    font-size: 30px;
}
.projectlink:hover{
    color: firebrick
}

@media (max-width: 1024px) {
   .navbar{
       width: 100%;
       grid-column: 6/-1;
   }
   .menuitem{
       font-size: 30px;
       text-align: center;
       padding-right: 15%;
   }


   }