<div class="home">
  
<h1 class="homename">Gregory Zucchero</h1>
<h3 class="homedescription">Web Developer in the MERN/MEAN Stack</h3>

<img (click)="toggleMenu()" class="homebutton" alt="Noimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Menu-thin-circular-outlined-button.svg/768px-Menu-thin-circular-outlined-button.svg.png" />

<nav *ngIf=menu class="navbar">

    <img class="closemenu" (click)="toggleMenu()" src="https://cdn3.iconfinder.com/data/icons/buttons/512/Icon_12-512.png"/>
    <a class='menuitem' routerLink='/'>Home</a>
    <a class='menuitem' routerLink='/about'>About</a>
    <a class='menuitem' (click)='toggleProjects()'>Projects:</a> 
    <a id='project1'  class="projects" *ngIf=projects routerLink='/crypto-portfolio'>Crypto Portfolio</a>
    <a id='project2' class="projects" *ngIf=projects routerLink='/transport-consolidated'>Transport Consolidated</a>
    <a id='project3' class="projects" *ngIf=projects routerLink='/business-website'>Business Website</a>
    <a  class='menuitem' routerLink='/contact'>Contact</a>
    
    
</nav>

</div>