.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    background: url(../../../assets/Background-Pictures/home-background.jpeg);
    background-position-y: 59%;
    
}

.homename{
    color: red;
    font-size: 80px;
    grid-column: 1/6;
    text-align: center;
    grid-row: 3/4;
    margin-top: 0;
    margin-bottom: 0;
}

.homedescription{
    grid-column: 1/6;
    text-align: center;
    grid-row: 4/5;
    font-size: 35px;
    padding-left: 3%;
    color: white;
    margin-top: 1%;
}

@media (max-width: 1024px) {
   .home{
       background-size: cover;
       background-position-x: 40%;
   }

   .homename{
       grid-column: 1/7;
       text-align: center;
       align-self: center;
   }

   .homedescription{
    grid-column: 1/8;
     margin-top: 0;
     padding-left: 8%;
     text-align: left;
     
   }
    
}
