.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    background: url(../../../assets/Background-Pictures/home-background.jpeg);
    background-position-y: 59%;
    
}
.angular{
    color: rgb(250, 6, 6);
    font-family: 'Dancing Script', cursive;
    grid-column: 1/6;
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
    margin-bottom: 0;
    opacity: 0;
    animation-name: intro;
    animation-duration: 2s;
    animation-delay: 1s;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@keyframes intro{
    0%{ opacity: 0}
    50%{ opacity: 1}
    100%{opacity: 0;}
}

.homename{
    font-family: 'Dancing Script', cursive;
    color: blue;
    font-size: 80px;
    grid-column: 1/6;
    text-align: center;
    grid-row: 3/4;
    margin-top: 0;
    margin-bottom: 0;
    animation-name: hname;
    animation-duration: 2s
}
@keyframes hname{
    0%{ opacity: 0}
    100%{opacity: 1;}
}

.homedescription{
    font-family: 'Oxygen', sans-serif;
    grid-column: 1/6;
    text-align: center;
    grid-row: 4/5;
    font-size: 35px;
    padding-left: 3%;
    color: white;
    margin-top: 1%;
    margin-bottom: 0;
    height: 50%;
    animation-name: hname;
    animation-duration: 2s
}

.homebutton{
    animation-name: menuButtonIntro;
    animation-duration: 2.5s;
    background-color: black
}
.linkicon{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 22%;
}
.giticon{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 22%;
}
.icons{
    margin-top: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-column: 3/4;
    grid-row: 4/5;
}

.giticon:hover {
    animation: bounce .9s;
}
.linkicon:hover{
    animation: bounce .9s;
}

@keyframes menuButtonIntro{
    0%{ position: relative; right: 100%; transform: rotate(540deg)}
    100%{ position: relative; right: 0%; transform: rotate(00deg)}
}

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@media (max-width: 1024px) {
   .home{
       background-size: cover;
       background-position-x: 40%;
   }

   .homename{
       grid-column: 1/7;
       text-align: center;
       align-self: center;
   }

   .homedescription{
    grid-column: 1/8;
     margin-top: 0;
     padding-left: 8%;
     text-align: left;
     
   }
}
@media (max-width: 800px){
    .homename{
        font-size: 55px;
        padding-right: 5%;
        grid-column: 2/7;
        grid-row: 2/3;
        text-align: center;
        align-self: end;
    }
    .homedescription{
        font-size: 20px;
        grid-row: 3/4;
        margin-top: 0;
        padding-left: 12%;
    }
    .icons{
        grid-row: 3/4;
    }
    .angular{
        font-size: 35px;
    }
}
@media (max-width: 750px){
    .icons{
        grid-row: 3/4;
    }
}
@media (max-width: 615px){
    .icons{
        grid-row: 4/5;
    }
    .homename{
        font-size: 45px;
        padding-right: 5%;
        grid-column: 2/7;
        grid-row: 2/3;
        text-align: left;
        align-self: end;
    }
    .homedescription{
        font-size: 20px;
        grid-row: 3/4;
        margin-top: 0;
        padding-right: 20%;
        text-align: left;
       }
       .angular{
        font-size: 40px;
    }
}


@media (max-width: 415px){
    .home{
        background-size: cover;
        background-position-x: 50%;
    }
    .homename{
        font-size: 40px;
        padding-right: 5%;
        grid-row: 2/3;
        text-align: center;
        align-self: end;
    }
    .homedescription{
        font-size: 12px;
        grid-row: 3/4;
        margin-top: 0;
        padding-right: 20%;
        text-align: left;
       }
       .icons{
        grid-row: 3/4;
    }
    .angular{
        font-size: 30px;
    }
}
