#hero{
    height: 100%;
    width: 100%;
}

.darkOverlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 10;
}

.videoContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.heroText{
    position: relative;
    max-width: 35%;
    margin: 10% auto 0px;
    height: auto;
    color: white;
    z-index: 15;
}