<div class="home">
  
<h2 class="angular">Built In Angular 6</h2>    
<h1 class="homename">Gregory Zucchero</h1>
<h3 class="homedescription">Web Developer in the MERN/MEAN Stack</h3>

<!-- <div (click)="toggleMenu()" class="homebutton" >
    <div class="homebuttonline"></div>
    <div class="homebuttonline"></div>
    <div class="homebuttonline"></div>
</div> -->

<img src='../../../assets/menu.png' (click)="toggleMenu()" class="homebutton" />


<nav *ngIf=menu [@slideInOut] class="navbar" id="menu">

    <p class="closemenu" id='menu' (click)="toggleMenu()">X</p>
    <a class='menuitem' routerLink='/'>Home</a>
    <a class='menuitem' routerLink='/about'>About</a>
    <a class='menuitem' routerLink='/contact'>Contact</a>
    <a class='menuitem' (click)='toggleProjects()'>Projects:</a> 
    <a id='project1' class="projects" *ngIf=projects [@project1] routerLink='/crypto-portfolio'>Crypto Portfolio</a>
    <a id='project2' class="projects" *ngIf=projects [@project2] routerLink='/transport-consolidated'>Transport Consolidated</a>
    <a id='project3' class="projects" *ngIf=projects [@project3] routerLink='/business-website'>Business Website</a>

    
    
</nav>
<div class="icons" >
<a href='https://github.com/GZ2829' target='blank' >
<img [@icons] class="giticon" src='../../../assets/Icons/github-sign.png' /> 
</a>
<a href='https://www.linkedin.com/in/gregory-zucchero' target='blank' >
<img [@icons] class="linkicon" src='../../../assets/Icons/linkedin-logo.png'/>
</a>
</div>

</div>