<div class="transportpage">

    <img src='../../../assets/menu.png' (click)="toggleMenu()" class="homebutton" />

    <div class='projectinfo'>
            <h1 class="projecttitle">Transport Consolidated</h1>
            <img class="projectpic1" style="width: 200%" src='../../../assets/transportloadboard.png'/>
            <img class="projectpic2" style="width: 90%" src='../../../assets/transportclientpage.png'/>
            <img class="projectpic3" style="width: 100%" src='../../../assets/transporthome.png'/>
    
            <p class='projectbio'> Transport Consolidated is a Full stack web application using the MERN stack. 
                It was designed as a solution for businesses finding trucks to move there products. Created to be 
                user friendly with a simple yet elegant design, while offereing a nonSQL database solution. It is currently in
                a testing stage, so feel free to use dummy information to give it a try. I am excited about the progress of this
                project and look foward to adding updates.
            </p>
    
            <a target="external" class="projectlink" href="https://transport-consolidated-gz.herokuapp.com/">Visit the site --></a>
    
    </div>
  

    <nav *ngIf=menu [@slideInOut] class="navbar" id="menu">

        <p class="closemenu" id='menu' (click)="toggleMenu()">X</p>
        <a class='menuitem' routerLink='/'>Home</a>
        <a class='menuitem' routerLink='/about'>About</a>
        <a  class='menuitem' routerLink='/contact'>Contact</a>
        <a class='menuitem' (click)='toggleProjects()'>Projects:</a> 
        <a id='project1' class="projects" *ngIf=projects [@project1] routerLink='/crypto-portfolio'>Crypto Portfolio</a>
        <a id='project2' class="projects" *ngIf=projects [@project2] routerLink='/transport-consolidated'>Transport Consolidated</a>
        <a id='project3' class="projects" *ngIf=projects [@project3] routerLink='/business-website'>Business Website</a> 
        
    </nav>
</div>