.cryptopage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    background: url(../../../assets/Background-Pictures/crypto-photo.jpeg);
    background-position-y: 20%;
    background-position-x: 30%;
}

@media (max-width: 600px){
    #cryptopic1{
        width: 200%
    }
    #cryptopic2{
        width: 95%
    }
    #cryptopic3{
        width: 100%
    }
}