<div class="cryptopage">

    <img (click)="toggleMenu()" class="homebutton" alt="Noimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Menu-thin-circular-outlined-button.svg/768px-Menu-thin-circular-outlined-button.svg.png" />

    <div class='projectinfo'>
        <h1 class="projecttitle">Crypto Portfolio</h1>
        <img class="projectpic1" src='../../../assets/cryptohomepage.png'/>
        <img class="projectpic2" src='../../../assets/cryptomycoins.png'/>
        <img class="projectpic3" src='../../../assets/cryptomyportfolio.png'/>

        <p class='projectbio'> Crypto Portfolio is an entirely front end project using React and Redux. It serves as a fully functional portfolio that keeps track of your crypto currency investments.
            It pulls data from the coinmarketcap.com API and calculates how much money you have made or lost on your crypto investments. By persisting your data to local storage, it keeps track of
            your investments and updates when another request to the API is made. Thereby removing the need to calculate your own profits and losses.
        </p>

        <a target="external" class="projectlink" href="http://cryptoportfolio.surge.sh/">Visit the site --></a>

    </div>
  

    <nav *ngIf=menu [@slideInOut] class="navbar" id="menu">

        <a href=# class="closemenu" id='menu' (click)="toggleMenu()">X</a>
        <a class='menuitem' routerLink='/'>Home</a>
        <a class='menuitem' routerLink='/about'>About</a>
        <a class='menuitem' (click)='toggleProjects()'>Projects:</a> 
        <a id='project1' class="projects" *ngIf=projects [@project1] routerLink='/crypto-portfolio'>Crypto Portfolio</a>
        <a id='project2' class="projects" *ngIf=projects [@project2] routerLink='/transport-consolidated'>Transport Consolidated</a>
        <a id='project3' class="projects" *ngIf=projects [@project3] routerLink='/business-website'>Business Website</a>
        <a  class='menuitem' routerLink='/contact'>Contact</a>
        
        
    </nav>
</div>
