.transportpage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    background: url(../../../assets/Background-Pictures/transport-background.jpeg);
    background-position-y: 45%;
    background-position-x: 70%;
}