<div class="transportpage">

    <img (click)="toggleMenu()" class="homebutton" alt="Noimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Menu-thin-circular-outlined-button.svg/768px-Menu-thin-circular-outlined-button.svg.png" />

    <div class='projectinfo'>
            <h1 class="projecttitle">Transport Consolidated</h1>
            <img class="projectpic1" style="width: 200%" src='../../../assets/transportloadboard.png'/>
            <img class="projectpic2" style="width: 90%" src='../../../assets/transportclientpage.png'/>
            <img class="projectpic3" style="width: 100%" src='../../../assets/transporthome.png'/>
    
            <p class='projectbio'> Transport Consolidated is a Full stack web application using the MERN stack. 
                It was designed as a solution for businesses finding trucks to move there loads. A modern front end design with 
                a backend built on newer technoliges, it has the potential to grow to a production ready webservice.
                This is an ever growing project and will continue to get updates as time moves along.
            </p>
    
            <a target="external" class="projectlink" href="http://cryptoportfolio.surge.sh/">Visit the site --></a>
    
    </div>
  

    <nav *ngIf=menu [@slideInOut] class="navbar" id="menu">

        <a href=# class="closemenu" id='menu' (click)="toggleMenu()">X</a>
        <a class='menuitem' routerLink='/'>Home</a>
        <a class='menuitem' routerLink='/about'>About</a>
        <a class='menuitem' (click)='toggleProjects()'>Projects:</a> 
        <a id='project1' class="projects" *ngIf=projects [@project1] routerLink='/crypto-portfolio'>Crypto Portfolio</a>
        <a id='project2' class="projects" *ngIf=projects [@project2] routerLink='/transport-consolidated'>Transport Consolidated</a>
        <a id='project3' class="projects" *ngIf=projects [@project3] routerLink='/business-website'>Business Website</a>
        <a  class='menuitem' routerLink='/contact'>Contact</a>
        
        
    </nav>
</div>