/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    margin:0; padding:0;
}

.navbar{
    grid-column: 7/-1;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    width: 75%;
    margin-left: 25%;
    text-align: center;
    justify-content: space-around;
    z-index: 1
}

.navbar1{
    grid-column: 7/-1;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    width: 75%;
    margin-left: 25%;
    text-align: center;
    justify-content: space-around;
    animation-name: sidemenu1;
    animation-duration: 1s;
    z-index: 1
}

.closemenu{
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    display: inline-block;
    position: relative;
    text-align: left;
    padding-left: 5%;
    color: beige;
    cursor: pointer;
}
.closemenu:hover{
    text-decoration: underline;
}
.projects{
    font-family: 'Oxygen', sans-serif;
    color: lightblue;
    font-size: 20px;
    text-decoration: none;
}


.menuitem{
    font-size: 20px;
    text-decoration: none;
    color: beige;
    font-family: 'Oxygen', sans-serif;
}
.menuitem:hover{
    text-decoration: underline;
    cursor: pointer;
}


#project1{ 
    animation-name: project1;
    animation-duration: 1s;
}

@keyframes project1{
    0%{ position: relative; top: -10%}
    100%{ position: relative; top: 0%}
}
#project2{
    animation-name: project2;
    animation-duration: 1s;
}

@keyframes project2{
    0%{ position: relative; top: -20%}
    100%{ position: relative; top: 0%}
}
#project3{
    animation-name: project3;
    animation-duration: 1s;
}

@keyframes project3{
    0%{ position: relative; top: -25%}
    100%{ position: relative; top: 0%}
}

/* Project page layout */

.projectinfo{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 2/7;
    grid-row: 2/7;
    background: rgba(0, 0, 0, 0.7);
    height: 85%;
    animation-name: pinfo;
    animation-duration: 2s;
}
@keyframes pinfo{
    0%{ position: relative; bottom: -50%}
    100%{ position: relative; bottom: 0%}
}
.projecttitle{
    font-family: 'Roboto Slab', serif;
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    color: beige;
    animation-name: title;
    animation-duration: 1s
}
@keyframes title{
    0%{ opacity: 0}
    100%{opacity: 1;}
}
.projectpic1{
    grid-column: 1/3;
    grid-row: 2/5;
    height: 200px;
    width: 300px;
    z-index: 1;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.projectpic2{
    grid-column: 3/7;
    grid-row: 2/5;
    height: 200px;
    width: 300px;
    z-index: 2;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    animation-name: title;
    animation-duration: 3s
}
.projectpic3{
    grid-column: 2/6;
    grid-row: 3/5;
    height: 200px;
    width: 300px;
    z-index: 3;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    animation-name: title;
    animation-duration: 4s
}
.projectpic1:hover{
    z-index: 4;
}
.projectpic2:hover{
    z-index: 4;
}
.projectpic3:hover{
    z-index: 4;
}
.projectbio{
    font-family: 'Oxygen', sans-serif;
    grid-column: 7/-1;
    grid-row: 2/5;
    color: beige;
    text-align: left;
    line-height: 25px;
    animation-name: title;
    animation-duration: 2s
}
.projectlink{
    font-family: 'Oxygen', sans-serif;
    grid-column: 7/-1;
    grid-row: 5/6;
    text-decoration: none;
    color: beige;
    font-size: 30px;
    animation-name: title;
    animation-duration: 2s
}
.projectlink:hover{
    text-decoration: underline;
}

 
 


@media (max-width: 1024px) {
   .navbar{
       width: 100%;
       grid-column: 6/-1;
   }
   .menuitem{
       font-size: 20px;
       text-align: center;
       padding-right: 15%;
   }
   .homebutton{
       grid-column: 7/-1;
   }
   .projects{
       padding-right: 17%;
       font-size: 20px;
   }

   .projectinfo{
       grid-column: 1/6;
       margin-left: 10%;
       width: 100%;
       height: 95%;
   }

   .projectlink{
       grid-column: 1/-1;
       text-align: center;
       height: 30%;
   }
   .projectbio{
       padding-left: 5%;
       padding-right: 5%;
        grid-column: 1/-1;
        grid-row: 4/5;
        align-self: center;
   }

   .projectpic1{
       grid-column: 2/4;
       height: 40%;
   }
   .projectpic2{
       grid-column: 4/10;
       justify-self: center;
       height: 40%;
   }
   .projectpic3{
       grid-row: 3/4;
       grid-column: 3/8;
       align-self: center;
       justify-self: center;
   }
   .projecttitle{
       height: 30%;
       align-self: center;
   }

   }

   @media (max-width: 615px){
    .homebutton{
        grid-column: 1/-1;
        grid-row: 6/7;
        align-items: center;
        margin-top: 15%;
        display: flex;
        width: 75px;
        height: 75px;
        z-index: 5;
        animation-name: title;
        animation-duration: 5s
    }
    @keyframes title{
        0%{ opacity: 0}
        100%{opacity: 1;}
    }

    .navbar{
        width: 200px;
        z-index: 2;
        grid-column: 6/-1;
        grid-row: 1/-1;
        z-index: 5;
    }
    .menuitem{
        font-size: 15px;
        text-align: left;
        padding-left: 10%;
    }
    .projects{
        font-size: 10px;
        text-align: left;
    }
    .projecttitle{
        font-size: 20px;
    }
    .projectinfo{
        margin-left: 0;
        grid-row: 1/-1;
        width: 160%
    }
    .projectbio{
        line-height: 18px;
        font-size: 13px;
    }
    .projectlink{
        font-size: 20px;
    }
    .projectpic1{
        grid-column: 1/4;
        height: 40%;
    }
    .projectpic2{
        grid-column: 4/-1
    }
    .projectpic3{
        grid-column: 2/9;
    }
    .projectinfo{
        height: 100%;
    }


   }